FitnessGym/FitnessGymWebservices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://fitnessgym/" name="FitnessGym_Webservices" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://fitnessgym/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://fitnessgym/" schemaLocation="FitnessGymWebservices_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="authenticate">
    <part name="parameters" element="tns:authenticate"/>
  </message>
  <message name="authenticateResponse">
    <part name="parameters" element="tns:authenticateResponse"/>
  </message>
  <message name="getInfo">
    <part name="parameters" element="tns:getInfo"/>
  </message>
  <message name="getInfoResponse">
    <part name="parameters" element="tns:getInfoResponse"/>
  </message>
  <message name="getSpecialInstruction">
    <part name="parameters" element="tns:getSpecialInstruction"/>
  </message>
  <message name="getSpecialInstructionResponse">
    <part name="parameters" element="tns:getSpecialInstructionResponse"/>
  </message>
  <message name="todayGame">
    <part name="parameters" element="tns:todayGame"/>
  </message>
  <message name="todayGameResponse">
    <part name="parameters" element="tns:todayGameResponse"/>
  </message>
  <message name="updateInfo">
    <part name="parameters" element="tns:updateInfo"/>
  </message>
  <message name="updateInfoResponse">
    <part name="parameters" element="tns:updateInfoResponse"/>
  </message>
  <message name="todayDiet">
    <part name="parameters" element="tns:todayDiet"/>
  </message>
  <message name="todayDietResponse">
    <part name="parameters" element="tns:todayDietResponse"/>
  </message>
  <portType name="FitnessGym_Webservices">
    <operation name="authenticate">
      <input wsam:Action="http://fitnessgym/FitnessGym_Webservices/authenticateRequest" message="tns:authenticate"/>
      <output wsam:Action="http://fitnessgym/FitnessGym_Webservices/authenticateResponse" message="tns:authenticateResponse"/>
    </operation>
    <operation name="getInfo">
      <input wsam:Action="http://fitnessgym/FitnessGym_Webservices/getInfoRequest" message="tns:getInfo"/>
      <output wsam:Action="http://fitnessgym/FitnessGym_Webservices/getInfoResponse" message="tns:getInfoResponse"/>
    </operation>
    <operation name="getSpecialInstruction">
      <input wsam:Action="http://fitnessgym/FitnessGym_Webservices/getSpecialInstructionRequest" message="tns:getSpecialInstruction"/>
      <output wsam:Action="http://fitnessgym/FitnessGym_Webservices/getSpecialInstructionResponse" message="tns:getSpecialInstructionResponse"/>
    </operation>
    <operation name="todayGame">
      <input wsam:Action="http://fitnessgym/FitnessGym_Webservices/todayGameRequest" message="tns:todayGame"/>
      <output wsam:Action="http://fitnessgym/FitnessGym_Webservices/todayGameResponse" message="tns:todayGameResponse"/>
    </operation>
    <operation name="updateInfo">
      <input wsam:Action="http://fitnessgym/FitnessGym_Webservices/updateInfoRequest" message="tns:updateInfo"/>
      <output wsam:Action="http://fitnessgym/FitnessGym_Webservices/updateInfoResponse" message="tns:updateInfoResponse"/>
    </operation>
    <operation name="todayDiet">
      <input wsam:Action="http://fitnessgym/FitnessGym_Webservices/todayDietRequest" message="tns:todayDiet"/>
      <output wsam:Action="http://fitnessgym/FitnessGym_Webservices/todayDietResponse" message="tns:todayDietResponse"/>
    </operation>
  </portType>
  <binding name="fitnessportBinding" type="tns:FitnessGym_Webservices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="authenticate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSpecialInstruction">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="todayGame">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="todayDiet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="FitnessGym_Webservices">
    <port name="fitnessport" binding="tns:fitnessportBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

